body{
    font-family: 'Times New Roman', Times, serif;
    background-color: greenyellow;
    text-align: center;
    padding: 30px;
    background-image:url(/media/depositphotos_107490690-stock-photo-cartoon-forest-scene-with-animals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1 ;
  width: 100vw;
   height: 100vh; 
} 

    nav{
     padding: 20px;
     border-radius: 50px;
     font-size: 30px;
    }

    nav ul{
        color: greenyellow;
        font-weight: 600;
        font-size: 200%;
    }

  

 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: greenyellow;
 }

.pet {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 30px 9px 12px rgba(black);
    transition: transform 0.2s;
}


#counter{
    font-size: 100px;
    margin-top: 10px;
    color: rgb(83, 41, 14);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15%;
    color: greenyellow;
    background-color: brown;
    
 


}



#actions {
    margin-top: 20px;
    font-size: xx-large;
    color: blue
    opacity: 1;
   
}